<div class="container">
    <div class="row">
        <div class="item2">Name</div>
        <div class="item2">Amount</div>
    </div>
    <div class="row" *ngFor="let broker of brokers">
        <div class="item2">{{broker.name}}</div>
        <div class="item2">{{broker.amount}}</div>
    </div>
</div>



<form [formGroup]="addForm" (ngSubmit)="onSubmitAdd(addForm.value)">
    <input type="text" name="name" placeholder="name" formControlName="name">
    <input type="number" name="amount" placeholder="amount" formControlName="amount">
    <input type="submit" value="Add broker">
</form>

<form [formGroup]="changeForm" (ngSubmit)="onSubmitChange(changeForm.value)">
    <input type="text" name="name" placeholder="name" formControlName="name">
    <input type="number" name="amount" placeholder="amount" formControlName="amount">
    <input type="submit" value="Change broker">
</form>

<form [formGroup]="deleteForm" (ngSubmit)="onSubmitDelete(deleteForm.value)">
    <input type="text" name="name" placeholder="name" formControlName="name">
    <input type="submit" value="Delete broker">
</form>
