<div>
    <div>Interval:</div>
    <div>{{settings.interval}}</div>
</div>
<div>
    <div>startDate:</div>
    <div>{{settings.startDate}}</div>
</div>

<form [formGroup]="changeForm" (ngSubmit)="onSubmitChange(changeForm.value)">
    <input type="date" name="startDate" placeholder="startDate" formControlName="startDate">
    <input type="number" name="interval" placeholder="interval" formControlName="interval">
    <input type="submit" value="Change">
</form>