<div class="container">
    <div class="row">
        <div class="item5">Name</div>
        <div class="item5">Distribution</div>
        <div class="item5">MaxValue</div>
        <div class="item5">InitValue</div>
        <div class="item5">Amount</div>
    </div>
    <div class="row" *ngFor="let stock of stocks">
        <div class="item5">{{stock.name}}</div>
        <div class="item5">{{stock.distribution}}</div>
        <div class="item5">{{stock.maxValue}}</div>
        <div class="item5">{{stock.initValue}}</div>
        <div class="item5">{{stock.amount}}</div>
    </div>
</div>



<form [formGroup]="addForm" (ngSubmit)="onSubmitAdd(addForm.value)">
    <input type="text" name="name" placeholder="name" formControlName="name">
    <select name="distribution" id="" formControlName="distribution">
        <option value="uniform" [selected]=true>uniform</option>
        <option value="normal">normal</option>
        <option value="binomial">binomial</option>
    </select>
    <input type="number" name="maxValue" placeholder="maxValue" formControlName="maxValue">
    <input type="number" name="amount" placeholder="amount" formControlName="amount">
    <input type="initValue" name="initValue" placeholder="initValue" formControlName="initValue">
    <input type="submit" value="Add Stock">
</form>

<form [formGroup]="deleteForm" (ngSubmit)="onSubmitDelete(deleteForm.value)">
    <input type="text" name="name" placeholder="name" formControlName="name">
    <input type="submit" value="Delete Stock">
</form>
